.drag {
  -webkit-app-region: drag;
  a,
  button {
    -webkit-app-region: no-drag;
  }
}

a, img {
  -webkit-user-drag: none; /* Safari, Chrome */
  user-select: none;        /* Prevents selection */
}