@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../static/fonts/Figtree/Figtree-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}