.button {
  background-color: rgb(201, 223, 241);
  border: 0;
  transition: 0.1s background-color ease-in-out;
  padding: 0.7em 1.6em;
  border-radius: 4px;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(188, 209, 226);
  cursor: pointer;
}

.button:active {
  background-color: rgb(173, 193, 209);
}
