.select-game-wrapper {
  grid-area: selectGame;
  overflow: hidden;
  background-color: rgb(114, 179, 135);
}

.select-game-icon {
  width: 65%;
  aspect-ratio: 1/1;
}

.select-game-button:hover .select-game-icon {
  width: 70%;
}

.select-game-button:active .select-game-icon {
  width: 65%;
}

.select-game-button {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.select-game-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.35);
}
