.menu__wrapper {
  height: 100%;
  width: 180px;
}

.menu__wrapper .menu__button {
  display: flex;
  width: 100%;
  height: 36px;
  background-color: none;
  color: #000000;
  border: none;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  padding: 8px;
}

.menu__wrapper .menu__button:hover {
  cursor: pointer;
}