.menu__wrapper {
  height: 100%;
  width: 180px;
}

.menu__wrapper .menu__button {
  display: flex;
  width: 100%;
  background: linear-gradient(#ffffff3a, #b8b8b810);
  color: #000000;
  border: none;
  font-size: 1rem;
  text-align: left;
  padding: 16px;
  justify-content: space-between;
}

.menu__wrapper .menu__button::after {
  content: "»";
}

.menu__wrapper .menu__button:hover::after {
  transform: translateX(2px);
}

.menu__wrapper .menu__button:active::after {
  transform: translateX(4px);
}

.menu__wrapper .menu__button:hover {
  cursor: pointer;
}
