.title-bar {
  grid-area: title;
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  background: rgb(8, 36, 0);
  background: linear-gradient(
    140deg,
    rgb(16, 36, 8) 1%,
    rgb(8, 26, 1) 20%,
    rgb(9, 27, 1) 80%,
    rgb(12, 41, 0) 99%
  );
  display: flex;
  justify-content: space-between;
}

.title-bar * {
  -webkit-app-region: no-drag;
}

.title-bar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  transition: all 0.1s ease-in-out;
}

/* .title-bar-button:hover {
  cursor: pointer;
} */

.title-bar-close-btn {
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  fill: #ffffff;
}

.title-bar-close-btn:hover {
  background-color: rgb(196, 0, 0);
}
.title-bar-close-btn:active {
  background-color: rgb(172, 1, 1);
}

.title-bar-minimize-btn {
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  fill: #ffffff;
}

.title-bar-minimize-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.title-bar-minimize-btn:active {
  background-color: rgba(255, 255, 255, 0.17);
}
