@font-face {
  font-family: Open Sans Medium;
  src: url(./static/OpenSans-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
  color: rgb(24, 24, 24);
}

body, button {
  font-family: 'Open Sans Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

#app {
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;